<div class= "container">
  <h1>All Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class= "col-sm-4">
        <div class="card"><%= image_tag image_url(cocktail.url), class:"card-background", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))" %>
          <div class="card-category">Popular</div>
          <div ><%= link_to cocktail.name, cocktail_path(cocktail), class:"card-link" %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div><%= link_to "Create a new cocktail", new_cocktail_path %></div>
</div>

